[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = test gerrit
[access "refs/*"]
	owner = group user/maybbee
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/maybbee
	label-Verified = -1..+1 group user/maybbee
	push = group user/maybbee
	read = group user/maybbee
	rebase = group user/maybbee
	removeReviewer = group user/maybbee
	submit = group user/maybbee
[access "refs/heads/*"]
	create = group user/maybbee
	push = +force group user/maybbee
	pushMerge = group user/maybbee
	read = group user/maybbee
[access "refs/tags/*"]
	push = group user/maybbee
	push = +force group user/maybbee
